<footer id="foot" class="page-footer  indigo">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Created and Coded By: <a href="www.hellothereamy.github.io" target="_blank"> Amy Tran </a> and <a href="www.github.com/betodt" target="_blank"> Alberto Diaz </a> </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      {{{copyright "Planly"}}}
    </div>
  </div>
</footer>