<nav>
   <div class="nav-wrapper indigo">
     <a href="#" class="brand-logo">Planly</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
      	 <li>
		{{#if session.isAuthenticated}}
		  Logged in as {{session.currentUser.displayName}}
		  <button class="btn-flat" {{action "signOut"}}>Sign out</button>
		{{else}}
		  <button class="btn-flat" {{action "openModal"}}>Sign in</button>
		{{/if}}
		</li>
     </ul>
   </div>
 </nav>