<nav>
   <div class="nav-wrapper indigo">
     <a href="#" class="brand-logo">Planly</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li> <button {{action "signIn" "google"}}> Sign Up </button></li>
     </ul>
   </div>
 </nav>