{{yield}}
<div id="project-task"> 
	<div class="row">
	    <div class="col s12">
			<div class= "card">
					<div class="card-title teal">
						<form action="#">
							<div class="left-align">
     							<input type="checkbox" class=" checkbox" id="task1"/>
      								<label for="task1"><h4 class="white-text"> {{name}} </h4></label>
      						</div>
    					</form>
    				</div>	

				<div class= "card-content">
					<div class="row">
						<div class="col s3">
							<h5> Due: {{dueDate}} </h5>
						</div>
						<div class="col s4">
							<h5> Assigned to: <img class= "circle responsive-img" src="assets/images/betopic.jpg">  </h5>
							
						</div>
						
						{{!-- <div class="col s2">
							<img class= "circle responsive-img" src="assets/images/betopic.jpg"> 
						</div> --}}
						<div class="col s5 right-align">
							<div class="collection">
								<div class="collectionItems"> <i class="material-icons collection item collectionIcons">list</i><span class="badge">1</span></div>
	              				<div class="collectionItems"> <i class="material-icons collection item collectionIcons">chat_bubble_outline</i><span class="badge">1</span>
	              				</div>
	              				<div class="collectionItems">
								<i class="material-icons collection item collectionIcons">favorite_border</i><span class="badge">1</span>
								</div>
							</div>
						</div>
					</div>
				</div> <!--end of card content -->
				<div class="card-action">
					<a href="#"><i class="material-icons">list</i></a>
              		<a href="#"><i class="material-icons">chat_bubble_outline</i></a>
              		<a href="#"><i class="material-icons">favorite_border</i> </a>
            	</div>
           </div><!-- end of card -->
         </div> <!-- end of col -->
     </div>
</div>