<div id="skipTeamModal" class="modal modal-fixed-footer">
	<div class="header teal"><h4 class="white-text center-align">No Teams? Thats okay! </h4>
	</div>
	<div class="modal-content">
		<h5 class="center-align">For now, all members will be assigned to the same team.</h5>
		<h5 class="center-align">You can edit this at any time by selecting "Teams" on left navigation </h5>
		
	</div>
	<div class="modal-footer">
		<button class="btn-flat waves-effect waves-red grey lighten-5 red-text" 
		{{action "closeSkipTeamModal"}}> Got it </button>
	</div>
</div>

{{yield}}