@font-face {
    font-family: 'Roboto-Medium';
    src: url('/font/roboto/Roboto-Medium.eot');
    src: url('/font/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('/font/roboto/Roboto-Medium.woff2') format('woff2'),
    url('/font/roboto/Roboto-Medium.woff') format('woff'),
    url('/font/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/font/roboto/Roboto-Bold.eot');
    src: url('/font/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('/font/roboto/Roboto-Bold.woff2') format('woff2'),
    url('/font/roboto/Roboto-Bold.woff') format('woff'),
    url('/font/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/font/roboto/Roboto-Light.eot');
    src: url('/font/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('/font/roboto/Roboto-Light.woff2') format('woff2'),
    url('/font/roboto/Roboto-Light.woff') format('woff'),
    url('/font/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/font/roboto/Roboto-Regular.eot');
    src: url('/font/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('/font/roboto/Roboto-Regular.woff2') format('woff2'),
    url('/font/roboto/Roboto-Regular.woff') format('woff'),
    url('/font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('/font/roboto/Roboto-Thin.eot');
    src: url('/font/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('/font/roboto/Roboto-Thin.woff2') format('woff2'),
    url('/font/roboto/Roboto-Thin.woff') format('woff'),
    url('/font/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
  
  font-family: "Roboto-Light", Calibri, Trebuchet, sans-serif;

}

/* body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    max-height: 100%;
  }
/* main */ 
  main {
    flex: 1 0 auto;
  }

/* dashboard */
  .sideBar {
    flex: 1 0 auto;
  }

  #paperContain {
    display: flex;
    min-height: 150vh;
    flex-direction: column;
    flex: 1 0 auto;
    padding-left: 100px;
    padding-right: 100px;
  }

  #paper {
    flex: 1 0 auto;
    overflow: hidden;
  }

  #paper input[type=text]:focus {
    border-bottom: 1px solid #536dfe;
    box-shadow: 0 1px 0 0 #536dfe;
  }

  #foot {
    margin: 0;
  }
  #profilePic{ 
    width:50%;
    margin: auto;
    margin-top:20px;
}

  /* team tab */ 
  .teamPics{
    width:50px;
    height: auto;
  
  }
  .card ul li {
    margin-top: 10px;
    padding-bottom: 5px;
    /*border-bottom: 1px lightgrey solid;*/
    height: 2em;
  }
  .card {
    padding-left: 50px;
    padding-right: 50px;
  }

.background {
  overflow: hidden;
}

.background img {
  width: 100%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

#formTitle{
  text-align:center;
}

   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #4527a0;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #4527a0;
     box-shadow: 0 1px 0 0 #4527a0;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #4527a0;
     box-shadow: 0 1px 0 0 #4527a0;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #4527a0;
     box-shadow: 0 1px 0 0 #4527a0;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #4527a0;
   }

   .input-field label.active {
    -webkit-transform:translateY(-100%);
    transform:translateY(-75%);
  }

  .input-field label.active::after{
    position: relative;
    -webkit-transform:translateY(-100%);
    text-align: left;
    transform:translateY(-140%);

  }

/*=======================================================================
    Login Modal 
=========================================================================*/

.modal-content {
  padding: 0;
}

/* #login{
  width: 40%;
  height: auto;
  /*overflow: hidden;

 }  */
#login h5{
  width:100%;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: .1em;
  margin: 10px 0 20px;
}

#login h5 span{
  background:#fafafa;
  padding: 0 10px;
}

/* ==========================================================================
  Social Buttons
========================================================================== */
#googleIcon img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  display: inline-block;
  font-size: 12px;
}

#facebookIcon img{
  width: 18px;
  height: 18px;
  margin-right: 10px;
  display: inline-block;
  font-size: 12px;
}

#googleIcon {
  margin-bottom: 10px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#facebookIcon {
  margin-bottom: 20px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a#googleIcon {
  color: #000000; /*opacity: 0.54;*/
}

.fbBlue {
    background-color: #3B5998 !important;
}

.waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
     background-color: #4285F4; opacity: 0.65;
   }

/*
    Side Nav
 */

 .row .sideBar {
  padding: 0;
 }

 .sideBar ul li {
  float: none;
  width: 100%;
 }

 .sideBar ul li i {
  clear: right;
 }

 .sideBar {
  width: 100%;
  padding: 0;
  margin: 0;
 }

 .sideBar ul {
  margin: 0 auto;

 }

 .sideBar ul a:active {
  background-color: #ffffff;
 }

/* ==========================================================================
  Project Creation
========================================================================== */


#projectCreation .header{
  height:10%;
}

.close {
  font-size: 1.5rem;
}

#projectCreation div.userdiv{
  width:100%;
  height:30px;
}

#projectCreation ul.collection {
  position: absolute;
  width: 100%;
  top: 30px;
}

/* ==========================================================================
  Project View
========================================================================== */
#projectView .project img {
  height: 3em;
}

#projectView i.material-icons.more-horiz {
 position: absolute;
 right: 0.5em;
}
/* ==========================================================================
  Select Team Members 
========================================================================== */
#projectCreation #teamMembers{
  visibility: hidden;
}

#projectCreation #teamMembers h6{
  font-size: .8rem;
}

#projectCreation .collection .collection-item.avatar{
  min-height: 60px;
  text-align: center;
}

#projectCreation li:hover{
  background-color:#b0bec5
}


/* ==========================================================================
 Team Creation
========================================================================== */

#teamCreation .header{
  height:10%;
}

#teamCreation #skip{
  float:right;
}

#teamCreation li:hover{
  background-color:#b0bec5
}

#teamCreation ul.collection {
  position: absolute;
  width: 100%;
  top: 30px;
}

/* ==========================================================================
  Team View
========================================================================== */

#teamView .team img {
  height: 3em;
}

/* ==========================================================================
  Project Task
========================================================================== */

input[type="checkbox"]+label:before{
  width:25px;
  height: 25px;
  margin-top: 20px;
  border: 2px solid black;
}
input[type="checkbox"]:checked + label:before{
  border-right:2px solid black;
  border-bottom:2px solid black;
}

#project-task div.card{
  padding:0px;
}

#project-task div.card-title{
  padding:10px;
}

#project-task div.card{
  padding:0px;
}

#project-task .material-icons.more-horiz{
  position:absolute;
  right:0.5em;
}

#project-task .card .card-reveal {
  padding-top: 0;
}

#project-task img.responsive-img, video.responsive-video{
height:2em;
margin:5px;
vertical-align: text-top;
}

#project-task .collectionIcons{
 margin:10px;

}

#project-task .collection{
  border:0;
}

#project-task .collectionItems{
  display:inline;
}

#project-task .notiBubble{
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: 0px;
    right:1px;
    padding:1px 2px 1px 2px;
    background-color:#9e9e9e; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.65em;
}

#project-task .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
  color:teal;
}

#project-task .tabs .tab a{
  color:teal;
}
#project-task .tabs .indicator{
  background-color:teal;
}
@media only screen and (min-width: 992px) {
  #loginContent{
    width: 50%;
    margin: 0 auto;
  }

  #teamCreation{
    width:50%;
  }

  #projectCreation{
    width:50%;
  }

  .mainContain {
    display: flex;
    min-height: 90vh;
    flex-direction: row;
    margin: 0;
  }

} 

/* ==========================================================================
 Create Task
========================================================================== */


#createTask #membersAssigned h6{
  font-size: .8rem;
}

#createTask .collection .collection-item.avatar{
  min-height: 60px;
  text-align: center;
}

#createTask li:hover{
  background-color:#b0bec5
}

#createTask ul.collection {
  position: absolute;
  width: 100%;
  z-index: 1001;
  margin-top: 0;
}

#createTask input#members-assigned {
  margin-bottom: 0;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* ==========================================================================
  Progress Bar
========================================================================== */
.progress{
  height:25px;
  width:90%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-right: 5px;
  background-color: #b0bec5;
}

h1.center-align.projectTitle{
  margin: 2.1rem 1.68rem 0;
  margin-bottom: .25em;
}

.progress h6#progressText {
  display:inline;
  font-size:17px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bolder;
}

.progress .determinate{
  padding-top:2px;
}


/* ==========================================================================
  User Chip
========================================================================== */
.userdiv{
  width:100%;
  height: 100%;
}
.collection .collection-item.avatar{
  height:60px;
  min-height: 0px;
}

/* ==========================================================================
  Home page 
========================================================================== */
#homepage img#bg{
  width:100%;
}

.activeClicked{
   background-color:#eceff1;
}