@font-face {
    font-family: 'Roboto-Medium';
    src: url('/planly/dist/Materialize/dist/font/roboto/Roboto-Medium.eot');
    src: url('/planly/dist/Materialize/dist/font/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('/planly/dist/Materialize/dist/font/roboto/Roboto-Medium.woff2') format('woff2'),
         url('/planly/dist/Materialize/dist/font/roboto/Roboto-Medium.woff') format('woff'),
         url('/planly/dist/Materialize/dist/font/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/planly/dist/Materialize/dist/font/roboto/Roboto-Bold.eot');
    src: url('/planly/dist/Materialize/dist/font/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('/planly/dist/Materialize/dist/font/roboto/Roboto-Bold.woff2') format('woff2'),
         url('/planly/dist/Materialize/dist/font/roboto/Roboto-Bold.woff') format('woff'),
         url('/planly/dist/Materialize/dist/font/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
/* body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    max-height: 100%;
  }
/* main */ 
  main {
    flex: 1 0 auto;
  }

  .mainContain {
    display: flex;
    min-height: 90vh;
    flex-direction: row;
    margin: 0;
  }
/* dashboard */
  .sideBar {
    flex: 1 0 auto;
  }

  #paperContain {
    display: flex;
    min-height: 150vh;
    flex-direction: column;
    flex: 1 0 auto;
    padding-left: 100px;
    padding-right: 100px;
  }

  #paper {
    flex: 1 0 auto;
    overflow: hidden;
  }

  #paper input[type=text]:focus {
    border-bottom: 1px solid #536dfe;
    box-shadow: 0 1px 0 0 #536dfe;
  }

  #foot {
    margin: 0;
  }
  #profilePic{ 
    width:50%;
    margin: auto;

    
  }

  /* team tab */ 
  .teamPics{
    width:50px;
    height: auto;
  
  }
  .card ul li {
    margin-top: 10px;
    padding-bottom: 5px;
    /*border-bottom: 1px lightgrey solid;*/
    height: 2em;
  }
  .card {
    padding-left: 50px;
    padding-right: 50px;
  }

.background {
  overflow: hidden;
}

.background img {
  width: 100%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

#formTitle{
  text-align:center;
}

#loginContent{
  width: 50%;
  margin: 0 auto;
}

   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #4527a0;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #4527a0;
     box-shadow: 0 1px 0 0 #4527a0;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #4527a0;
     box-shadow: 0 1px 0 0 #4527a0;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #4527a0;
     box-shadow: 0 1px 0 0 #4527a0;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #4527a0;
   }

   .input-field label.active {
    transform:translateY(-75%);
  }

  .input-field label.active::after{
    position: relative;
    text-align: left;
    transform:translateY(-140%);
 
  }


 #login{
  width: 40%;

 }  
#login h5{
  width:100%;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: .1em;
  margin: 10px 0 20px;
}

#login h5 span{
  background:#fafafa;
  padding: 0 10px;
}

/* ==========================================================================
  Social Buttons
========================================================================== */
#googleIcon img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  display: inline-block;
  font-size: 12px;
}

#facebookIcon img{
  width: 18px;
  height: 18px;
  margin-right: 10px;
  display: inline-block;
  font-size: 12px;
}

a#googleIcon {
  color: #000000; /*opacity: 0.54;*/
}

.fbBlue {
    background-color: #3B5998 !important;
}

.waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
     background-color: #4285F4; opacity: 0.65;
   }

/* ==========================================================================
  Project Creation
========================================================================== */
#projectCreation{
  overflow: hidden;
  width:50%;
}

#sub-task .close {
  font-size: 1.5rem;
}

/* ==========================================================================
  Project Task
========================================================================== */

input[type="checkbox"]+label:before{
  width:25px;
  height: 25px;
  margin-top: 20px;
  border: 2px solid white;
}
input[type="checkbox"]:checked + label:before{
  border-right:2px solid white;
  border-bottom:2px solid white;
}

#project-task div.card{
  padding:0px;
}

#project-task div.card-title{
  padding:10px;
}



#project-task img.responsive-img, video.responsive-video{
width: 10%;
border: 1px solid black;
margin:5px;
vertical-align: text-top;
}

#project-task .collectionIcons{
 margin:10px;

}

#project-task .collection{
  border:0;
}

#project-task .collectionItems{
  display:inline;
}