 <div class="row mainContain">
 	<div class="sideBar col s12 m2 l2 blue-grey lighten-4">
 		<img src="{{model.picUrl}}" alt="Contact Person" id="profilePic" class="circle responsive-img materialboxed">
 		<h5 class="center-align">{{model.firstName}}</h5>
 		<nav class="transparent z-depth-0">
 		  <ul class="left">
 		    <li>{{#link-to "projects.teams" class="black-text"}}<i class="material-icons left">perm_identity</i><span class="hide-on-med-only">Team</span>{{/link-to}}</li>
 		    <li>{{#link-to "projects.tasks" class="black-text"}}<i class="material-icons left">list</i><span class="hide-on-med-only">Tasks</span>{{/link-to}}</li>
 		    <li>{{#link-to "projects.calendars" class="black-text"}}<i class="material-icons left">today</i><span class="hide-on-med-only">Calendar</span>{{/link-to}}</li>
 		    <li>{{#link-to "projects" class="black-text"}}<i class="material-icons left">perm_media</i><span class="hide-on-med-only">Projects</span>{{/link-to}}</li>
 		  </ul>
 		</nav>
 	</div>
 	<div class="col s12 m10 l10 grey lighten-3">
 		{{outlet}}
 	</div>
</div>
