<div id="projectView">
	<h1 class="center-align">{{model.name}}</h1>
	<div class="row">
			{{#each model.teams as |team|}}
				<div class="col s12 m4 l4 project">
					<h5 class="center-align">{{team.name}}</h5>
					<ul>
					{{#each team.members as |user|}}
						<li>{{user.fullName}}</li>
					{{/each}}
					</ul>
				</div>	
			{{/each}}
	</div>
		<a class="btn-floating btn-small waves-effect waves-light grey" {{action ""}}><i class="material-icons">add</i></a>
</div>
